* {
	padding: 0;
	margin: 0;
	outline: none;
}

html{ height: 100%; }

body {
	width: 100%; 
	height: 100%; 
	font-family: "Segoe UI" ,Arial, sans-serif; 
	background: url(../img/background.jpg) no-repeat center center fixed / cover;
}

a {
	text-decoration: none; 
	color:black;
}

/*Шапка проекта*/

header {
	background: url(../img/background-header.png) repeat center center fixed / cover;
	background-size: 300px;
	border-bottom: 2px solid black;
	height: 15%;
}

#logo { 
	float: left;
	padding-top: 1%;
}

#authorization{
	/*надо дополнить*/
}

/*Тело проекта*/

main {
	height: 100%;
	width: 100%;
}

#menuBlock {
	left: -230px;
	float:left;
	position: fixed;
	width: 200px; 
	height: 100%;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
}

#menuBlock.active {
	left: 0px;
}

#menuBlock ul li:first-child {
 	text-align: center;
 	color: white; 
 	font-size: 1.9em; 
 	list-style: none; 
 	padding: 25px 10px 10px 10px;
 	color:black;
}

#menuBlock ul li:not(first-child) {
	width: 90%; 
 	margin-left: 10%;
 	color: white; 
 	font-size: 1.1em; 
 	list-style: none; 
 	padding: 5px 10px;
}

#menuBlock ul li a:hover {
	color:#fafafa;
}

#menuBlock .menuButton {
	position: absolute;
	left: 250px; 
	top: 20px;
	background:#fff;
	padding: 10px; 
	border-radius: 12px; 
	cursor: pointer;
}

#menuBlock .menuButton span {
	display: block; 
	width: 25px; 
	height: 4px; 
	background-color: #666; 
	margin: 4px; 
}

#menuBlock .menuButton:hover{
	background: #556270; 
}

#menuBlock .menuButton:hover span {
	background: #fafafa; 
}

.centerBlock{
	background: url(../img/forblock.png) no-repeat center left / cover;
	background-size: 700px;
	height: 600px; 
	width: 700px;
	margin:auto;
}
.intoCenterBlock {
	padding-top: 350px;
	padding-left: 70px;
	margin: auto;
	height: 100px; 
	width: 480px;
}

/*footer проекта */

footer {
	border-top: 2px solid black;
	background: url(../img/background-header.png) repeat center center fixed / cover;
	background-size: 300px;
	height: 20%;
}

#rights {
	padding: 0.5%;
}

#admin {
	padding-left: 0.5%;
}