* {
	padding: 0;
	margin: 0;
	outline: none;
}

html{ height: 100%; }

body {
	width: 100%; 
	height: 100%; 
	font-family: "Segoe UI" ,Arial, sans-serif; 
	background: url(../img/background.jpg) no-repeat center center fixed / cover;
}

a {
	text-decoration: none; 
}

/*Шапка проекта*/

header {
	background: url(../img/background-header.png) repeat center center fixed / cover;
	background-size: 300px;
	border-bottom: 2px solid black;
	height: 15%;
}

#logo { 
	float: left;
	padding-top: 1%;
}


#regPanel{
	float: right;
	padding: 3%;
}

#regPanel a {
	color: black;
	font-size: 1.1em;
}

#regPanel p {
 float:left;
 padding-left: 5px;
}

#regestration a:hover {
	-webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
	background-color: #767676;
	border-radius: 10px;
}

#authorization{

}

/*Тело проекта*/

main {
	height: 100%;
	width: 100%;
}
.mainProject {
	margin:auto auto;
	height: 100%; 
	width: 950px;
}
.centerBlock{
	background: url(../img/forblock.png) no-repeat center left / cover;
	background-size: 700px;
	height: 600px; 
	width: 700px;
	margin:auto;
}
.intoCenterBlock {
	margin: auto;
	height: 450px; 
	width: 550px;

}
.intoCenterBlock a {
	font-family: Comic Sans MS;
	text-transform: uppercase;
	color: #282828;
}

.intoCenterBlock a:hover {
	-webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
	color: #10CFDB;
}	

.cc1 {
	float: left;
	margin-top: 335px;
	margin-left: 50px;
}
.cc2{
	float: right;
	margin-top: 350px;
}
.cc3{
	float: right;
	margin-top: 400px;
}
.cc4{
	float: left;
	margin-top: 425px;
	margin-left: 70px;
}
.cc5{
	float: left;
	margin-top: 340px;
}
.cc6{
	float: right;
	margin-top: 285px;
}

/*footer проекта */

footer {
	border-top: 2px solid black;
	background: url(../img/background-header.png) repeat center center fixed / cover;
	background-size: 300px;
	height: 20%;
}

#social img{
	padding-top: 0.5%;
	padding-left: 0.5%;
}
#social img{
	width: 30px; 
	height: 30px;
}

#rights {
	padding: 0.5%;
}

#admin {
	padding-left: 0.5%;
} 