<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GiftSelection</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="shortcut icon" href="/static/img/icon2.png" type="image/png">
	<script src="/static/js/phisics.js"></script>
</head>
<body>
	{% block content %}
	<header>
		<div id="logo">
			<a href="http://localhost:8000" title="GiftSelection"><img src="/static/img/GiftSelection-icon.png" alt=""></a>
		</div>
	</header>
	<main>
		<div id="menuBlock">
			<div class="menuButton" onclick="openMenu()">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<ul>
				<li>Меню сайта</li>
				<li><a href="/">Главная</a></li>
				<li><a href="/">О проекте</a></li>
			</ul>
		</div>
			<div class="centerBlock">
				<div class="intoCenterBlock">
					<form action="" method="post"> {% csrf_token %}
				{{ form }}
				<div>
					<button type="submit">submit</button>
				</div>
			</form>
				</div>
			</div>
	</main>
	<footer>
		<div>
			<p id="rights">Все права защищены &copy</p>
			<p id="admin">Bokov Uruskhan & Abrekov Eldar</p>
		</div>
	</footer>
	{% endblock %}
</body>
</html>
