<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GiftSelection</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="shortcut icon" href="/static/img/icon.png" type="image/png">
</head>
<body>
	{% block content %}
	<header>
		<div id="logo">
			<p><a href="http://localhost:8000" title="GiftSelection">GiftSelection</a></p>
		</div>
		<div id="regPanel">
			<p id="regestration"><a href="/" title="Регистрация">Регистрация</a></p><p>|</p><p id="authorization"><a href="/" title="Авторизация"> Авторизация</a></p>
		</div>
	</header>
	<main>
		<div class="mainProject">
			<div class="centerBlock">
				<div class="intoCenterBlock">
					<p class="cc1"><a href="#">Кино</a></p>
					<p class="cc2"><a href="#">Мужчина</a></p>
					<p class="cc3"><a href="#">Женщина</a></p>
					<p class="cc4"><a href="#">Игры</a></p>
					<p class="cc5"><a href="#">Аниме</a></p>
					<p class="cc6"><a href="#">Дача</a></p>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div>
			<div id="social">
				<a href="http://instagram.com" title="Инстаграм"><img src="/static/img/instagram.png" alt="instagram"></a>
				<a href="http://vk.com" title="Вконтакте"><img src="/static/img/vkontakte.png" alt="vkontakte"></a>
				<a href="http://facebook.com" title="Фейсбук"><img src="/static/img/facebook.png" alt="facebook"></a>
			</div>
			<p id="rights">Все права защищены &copy</p>
			<p id="admin">Bokov Uruskhan & Abrekov Eldar</p>
		</div>
	</footer>
	{% endblock %}
</body>
</html>
